Package: images-difference
Version: 0.0.1
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: Linux-Utils
Description: Returns information if the provided images are different.
Depends: linux-utils-lib
