Package: linux-utils-lib
Version: 1.1.5
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: Linux-Utils
Description: Library package for linux utils scripts.
