Package: delete-old-files
Version: 1.1.3
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: Linux-Utils
Description: Cleaning script. Delete all files older than a given time.
Depends: linux-utils-lib
