Package: motion-detector
Version: 0.2.2
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: Linux-Utils
Description: Detect motion and start recording.
