Package: music-metadata
Version: 1.0.1
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: Linux-Utils
Description: Set metadata in music files.
Depends: linux-utils-lib, kid3-cli
