Package: wipe-disk
Version: 1.0.0
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: Linux-Utils
Description: Fills remaining disk space with zero file.
Depends: linux-utils-lib
