Package: shred-all
Version: 1.2.6
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: Linux-Utils
Description: Destroy all provided files or files in provided directories.
Depends: linux-utils-lib
